@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Roboto, arial;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  position: fixed;
  background-color: #E71B23;
}

nav article{
  display: flex;
  align-items: center;
}

nav article img{
  width: 15rem;
  padding-left: 2rem;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  padding-right: 3rem;
}

nav ul li {
  padding: 0.6rem;
  
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
}

main {
  background-size: contain;
  background-image: url(/img/Fundo.png);
  background-position: center;
  background-attachment: fixed;
}

main div#fundo{
  margin: 5.2rem 10rem 0rem 10rem;
  background-color: #fff;
  border: solid 2px #000;
  border-radius: 2rem;
}

section#cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 50px 40px;
}

section#cards div.card {
  width: 15rem;
  box-shadow: 5px 5px 5px 5px #00000020;
  padding: 1rem;
}

section#cards div.card img {
  width: 100%;
}

section#cards div.card h3 {
  margin-bottom: 0.4rem;
  text-align: flex-end;
}

section#cards div.card a#editar {
  padding: 0.4rem;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  background-color: #fff;
  border: solid 1px rgb(87, 131, 252);
  color: rgb(87, 131, 252);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

section#cards div.card a#editar:hover {
  background-color: rgb(87, 131, 252);
  color: #fff;
}

section#cards div.card a#apagar {
    padding: 0.4rem;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1rem;
    background-color: #fff;
    border: solid 1px red;
    color: red;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    margin-top: 0.5rem;
  }
  
section#cards div.card a#apagar:hover {
    background-color: red;
    color: #fff;
  }  

section#cards div.card p {
  margin-bottom: 1rem;
}

section#cadastro {
  display: flex;
  justify-content: center;
  padding-right: 3rem;
  padding-top: 3rem;
  align-items: center;
}

section#cadastro img{
  max-width:300px;
  max-height:300px;
  width: auto;
  height: auto;
  padding-right: 2;
}

section#cadastro form {
  width: 100%;
}

section#cadastro h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
}

section#cadastro form input {
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  outline: none;
  border: solid 2px rgb(196, 196, 196);
  margin: 0 .2rem .2rem .2rem;
}

section#cadastro form label {
  margin: 1rem;
  color: rgb(146, 146, 146);
}

section#cadastro form button {
  padding: 0.4rem;
  width: 25%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1rem;
  background-color: #fff;
  border: solid 1px red;
  color: red;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

section#cadastro form button:hover {
  background-color: red;
  color: #fff;
}

footer{
    background-color: #E71B23;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer p{
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.3rem;
}

footer p a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

section#message {
  padding: 0.3rem;
  background-color: #FAC705;
  color: #3D60B5;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 100;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

span#close {
  font-size: 2rem;
  cursor: pointer;
  transition: .3s;
}

span#close:hover{
  color: rgb(255, 0, 0);
  transform: scale(1.5);
}